@page "/"
@inject IStringLocalizer<Index> L
@using CleanArchitecture.Blazor.Application.Common.Interfaces.Identity
@using Microsoft.AspNetCore.Authorization
<style>
    .lp-app-grid {
        display: grid;
        gap: 24px;
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    }
</style>
<PageTitle>@L["Dashboard"]</PageTitle>
<MudContainer MaxWidth="MaxWidth.Large">
    <Blazor.Server.UI.Components.Index.SummaryDashboard></Blazor.Server.UI.Components.Index.SummaryDashboard>
    <div class="my-6 d-flex gap-6 flex-wrap">
        <Blazor.Server.UI.Components.Index.CountedMonthly></Blazor.Server.UI.Components.Index.CountedMonthly>
       <Blazor.Server.UI.Components.Index.CountedPurpose></Blazor.Server.UI.Components.Index.CountedPurpose>
    </div>
    <Blazor.Server.UI.Pages.Visitors.Kanban.KanbanComponent></Blazor.Server.UI.Pages.Visitors.Kanban.KanbanComponent>
    <OnlineUsersComponent></OnlineUsersComponent>
</MudContainer>

@code {
     
}
