@if (Attachments != null && Attachments.Any())
{
    <div class="d-flex gap-2">
        
            @foreach (var attachment in Attachments)
            {
                <MudTooltip Color="Color.Transparent" Delay="600" Placement="Placement.Top">
                    <ChildContent>
                       <MudIcon Icon="@Icons.Material.Filled.Image" Size="@Size" />
                    </ChildContent>
                    <TooltipContent >
                        <MudImage Src="@attachment" Width="300" Elevation="10"></MudImage>
                    </TooltipContent>
                </MudTooltip>
            }
   
    </div>
}
@code {
    [Parameter]
    public string[]? Attachments { get; set; }
    public MudBlazor.Size Size { get; set; } = Size.Small;
}
